{% if list.pager.nbResults > 0 %}
<div class="panel panel-default"  id="{{ list.option('id') }}">
    <!-- Default panel contents -->
    <div class="panel-heading">Post list</div>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Association</th>
                <th>Title</th>
                <th>Text</th>
                <th>Image</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Creation Date</th>
                <th class="sortable" data-target="f.state">State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in list.pager %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.association }}</td>
                <td>{{ entity.title|length > 20 ? entity.title|striptags|slice(0, 20) ~ '...' : entity.title|raw  }}</td>
                <td>{{ entity.pushText|length > 25 ? entity.pushText|striptags|slice(0, 25) ~ '...' : entity.pushText|raw  }}</td>
                <td>{{ entity.imageUrl }}</td>
                <td>{% if entity.dateStart %}{{ entity.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateEnd %}{{ entity.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateCreate %}{{ entity.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.state }}</td>
                <td>
                    <select class="form-control" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
                        <option></option>
                        <option value="{{ path('post_show', { 'id': entity.id }) }}">Show</option>
                        <option value="{{ path('post_edit', { 'id': entity.id }) }}">Edit</option>
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center">
    {% include 'AvListBundle:AvList:control.html.twig' with {'list':list}%}
    <br />
    <a href="{{ path('post_new') }}" class="btn btn-success">
        Create a new entry
    </a>
</div>
{% else %}
    <p>There is no post yet.</p>
{% endif %}