{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="wrap">
    <div class="logo">
        <img src="{{ asset('bundles/insaladeuser/images/logo.png') }}" />
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username" />

        <div class="bar">
            <i></i>
        </div>

        <input type="password" id="password" name="_password" required="required" placeholder="Password" />
        <a href="{{ path('fos_user_resetting_request') }}" class="forgot_link">forgot ?</a>
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
</div>
{% endblock fos_user_content %}